@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,200;0,400;1,800&display=swap");
/* ----RESET---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #2F56D1;
  color: black;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }

header nav div img {
  width: 100px;
  height: 90px; }

.button-nav {
  border: 2px solid black; }

.button-nav:hover {
  background-color: #DD5543;
  color: white; }
