.container {
    width: 100%;
    height: 80vh;


row {
    col-md-6 col-sm-12 {
    width: 90%;
    height: 50%;
}
p {
    color: black;
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    justify-content:center; */
    /* align-items: center; */
    text-align: center;
    font-weight: 900;
    } 
}
}