.todoslosproductos div {
    border: 1px black;
    width: 250px;
    height: 375px;
    font-size: 16px;
    text-align: center;
    background-color:#dd554338;
    color: black;
    margin: 16px;
    display:inline-block;
    border-radius: 8px;
    font-size:16px;
}

.todoslosproductos div img {
    width: 250px;
    height: 250px;
}

.todoslosproductos div h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
