//* LISTAS
$color-primario: #2F56D1;
$color-secundario:#FBE4D5;
$color-terciario:#FD0303;
$color-extras:#FDF703,#5EC2B8,#FBE4D5,#000000;


//* MAPAS

$a: (
    //kEY   -    VALUE
    text-decoration: none,
    color-text:black,
    bg-boton:#DD5543,
    font-size:20px,
    font-weight:900,
);

// *EXTENDS
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//* MIXIN
@mixin bazarMixin {
    border: 1px black;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: mediumaquamarine;
    color: white;
    margin: 20px;
    display: inline-block;
    img {
        width: 250px;
        height: 250px;
    }
    
    h3 {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    a  {
            text-decoration: none;
            color: black;
            background-color: #dd5543;
            font-size: 20px;
            font-weight: 800;
            width: 200px;
            height: 40px;
            border: none;
            transition: transform 0.3s ease;
        }
        .productos div a:hover 
        {
            transform: scale(1.2);}
        }
