//* LISTAS
$color-primario: white;
$color-secundario:#FBE4D5;
$color-terciario:#FD0303;
$color-extras:#FDF703,#5EC2B8,#FBE4D5,#000000;




//* MAPAS

$a: (
    //kEY   -    VALUE
    text-decoration: none,
    color-text:black,
    bg-boton:#DD5543,
    font-size:20px,
    font-weight:900,
);

// *EXTENDS
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//* MIXIN

