//* LISTAS
es para poder actualizar la paleta de colores mas rapido 
$color-primario: #2F56D1;
$color-secundario:#FBE4D5;
$color-terciario:#FD0303;
#FDF703,
#5EC2B8,
#FBE4D5,
#000000,


//* MAPAS


//* EXTENDS

// * MIXIN 
